.card {
  padding: 12px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  justify-content: space-between;
  gap: 8px;
  max-width: 248px;
  width: 100%;
}

.image_container {
  flex-shrink: 0;
  position: relative;
  width: 222px;
  height: 418px;
  transition: all 350ms ease;
  overflow: hidden;

  img {
    width: 160px;
    object-fit: cover;
    height: 220px;
  }
}

.title_container {
  font-size: 14px;
}

.desc_container {
  display: flex;
  font-size: 14px;
  gap: 8px;

  .rating {
    display: flex;
    gap: 2px;

    svg {
      fill: #fff;
      width: 16px;
      height: 16px;
    }
  }
}

.btn_container {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 14px;

  span {
    cursor: pointer;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid #aaa;
    transition: all 350ms ease;
  }

  span:hover {
    transform: scale(1.05);
  }
}
