.pagination {
  display: flex;
    justify-content: center;
  gap: 12px;

  .right_arrow {
    svg {
      transform: rotate(180deg);
    }
  }
  .current_page {
    text-decoration: underline;
  }
  svg {
    cursor: pointer;
    path {
      fill: #fff;
    }
    width: 18px;
    height: 18px;
  }
}
